@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

// Set your brand colors
$purple: #8a4d76;
// $pink: #fa7c91;
// $brown: #757763;
// $beige-light: #d0d1cd;
// $beige-lighter: #eff0eb;
$text: #f0f0f0;

// Update Bulma's global variables
$family-sans-serif: 'Roboto Slab', sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
$primary: $purple;
$widescreen-enabled: false;
$fullhd-enabled: false;
$scheme-main-bis: tomato;

// $scheme-main: #661c12;
$scheme-main: #fafafa;
$navbar-background-color: #a62e1e;
$title-color: #e68e3f;
// Update some of Bulma's component variables
$box-background-color: lighten($scheme-main, 60%);
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/layout/_all.sass';
@import '../node_modules/bulma/sass/form/_all.sass';
@import '../node_modules/bulma/sass/grid/_all.sass';
@import '../node_modules/bulma/sass/elements/container.sass';
@import '../node_modules/bulma/sass/elements/button.sass';
@import '../node_modules/bulma/sass/elements/title.sass';
@import '../node_modules/bulma/sass/elements/box.sass';
@import '../node_modules/bulma/sass/elements/icon.sass';
@import '../node_modules/bulma/sass/elements/image.sass';
@import '../node_modules/bulma/sass/components/navbar.sass';
@import '../node_modules/bulma/sass/components/modal.sass';
@import '../node_modules/bulma/sass/components/card.sass';
@import '../node_modules/bulma/sass/grid/tiles.sass';
@import '../node_modules/bulma/sass/helpers/position.sass';
@import '../node_modules/bulma/sass/helpers/other.sass';
@import '../node_modules/bulma/sass/helpers/spacing.sass';
@import '../node_modules/bulma/sass/helpers/typography.sass';
@import '../node_modules/bulma/sass/helpers/color.sass';
