{% extends 'base.html.twig' %}

{% block title %}
  Hello AboutController!
{% endblock %}

{% block body %}
  <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font:
    18px/1.5 sans-serif; } .example-wrapper code { background: #F5F5F5; padding:
    2px 6px; }
  </style>

  <div class="example-wrapper">
    <h2 class="title is-2">
      About
    </h2>
    <section>
      <p>
        Hi everyone, we have had many people ask how it all started, BigRed
        Firewood? Well this is basically how it happened.
      </p>

      <p>
        A friend and I were discussing how expensive it was to buy firewood.
        Both my friend and I are very handy in building things and thought just
        maybe we could build a trailer and a splitter, and if we could do that,
        we could do our darndest to supply reasonably priced wood for those who
        couldn’t afford the current prices (2017 at this stage). We rummaged
        around and found all we needed for the trailer and splitter (steel).
        Finally in March 2018, we started our deliveries, and boy you guys had
        us working our hearts out, and that we are grateful for. We have had
        many highs and a few lows but it is knowing we are doing our best to get
        a great product out to our many clients which keeps us going. Of course
        all this would not be possible without the generosity, understanding
        (and a bit of rib poking) of our suppliers, and the local businesses who
        keep us working just as hard
      </p>

      <p>
        It has been a pleasure to meet all our clients, and look forward to
        meeting even more of you.
      </p>

      <p>
        If you should have any more questions, enquiries or orders, just flick
        us a message here on facebook and we will get back to you in the
        evening, as it is not always convenient to answer my phone while I am
        chainsawing during the day.
      </p>

      <p>
        Will catch up with you all at some stage, have a great 2020, and
        remember to stock up before winter, that ensures you get your load
        sooner rather than later, and it ensures a full woodshed.
      </p>

      <p>
        BigRed Firewood
      </p>
    </section>
  </div>
{% endblock %}
