{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div id="calendar"></div>
    <div id="order-modal" class="modal">
            <div class="modal-background" onclick="closeModal()"></div>
                <div id="modal-content" class="modal-content">

                </div>
            <button class="modal-close is-large" aria-label="close" onclick="closeModal()"></button>
        </div>
{% endblock %}

{% block javascript %}
<script>
console.log({{orders}});
document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            const today = new Date();

            var calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'en-nz',
                datesRender: function(info) {
                    for (time in ordersDates) {
                        for (date in ordersDates[time]) {
                            if (ordersDates[time][date] > 4) {
                                let cell = document.querySelector('[data-date="'+date+'"] .'+time);
                                if (cell) {
                                    cell.style="background-color: red!important; cursor: unset; margin-bottom: 0!important;";
                                    cell.onclick="";
                                }
                            }
                        }
                    }
                },
                dayRender: function(dayRenderInfo) {
                    const date = dayRenderInfo.el.getAttribute('data-date');
                    // If date is past
                    if (new Date(date) < today) {
                        dayRenderInfo.el.innerHTML = `
                        <div class="tile" style="height: 100%;">
                            <div class="tile is-ancestor" style="height: 100%;">
                                <div class="tile is-vertical is-parent" style="height: 100%;">
                                    <div class="tile is-child morning columns is-centered is-vcentered has-background-grey" style="margin-bottom: 0!important; cursor: unset;">
                                        <p>Morning</p>
                                    </div>
                                    <div class="tile is-child afternoon columns is-centered is-vcentered has-background-grey" style="cursor: unset";>
                                        <p>Afternoon</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        `;
                    } else {
                        dayRenderInfo.el.innerHTML = `
                        <div class="tile" style="height: 100%;">
                            <div class="tile is-ancestor" style="height: 100%;">
                                <div class="tile is-vertical is-parent" style="height: 100%;">
                                    <div class="tile is-child morning columns is-centered is-vcentered has-background-grey-light" onclick="openOrderConfirmation('${date}', 'morning')" style="margin-bottom: 0!important">
                                        <p>Morning</p>
                                    </div>
                                    <div class="tile is-child afternoon columns is-centered is-vcentered has-background-grey-lighter" onclick="openOrderConfirmation('${date}', 'afternoon')">
                                        <p>Afternoon</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        `;
                    }
                },
                plugins: ['dayGrid', 'timeGrid']
            });

            calendar.render();
        });
    </script>
{% endblock %}