{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="/js/fullcalendar/core/main.css" rel='stylesheet' type="text/css" />
    <link href="/js/fullcalendar/daygrid/main.css" rel='stylesheet' type="text/css" />
    <link href="/js/fullcalendar/timegrid/main.css" rel='stylesheet' type="text/css" />
    <link href="/css/calendar.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
<h1 class="title has-text-danger">Big Red Firewood</h1>
<section class="section">
    <h3 class="title">$250/3 cubic meters approx</h3>
    <p>Pine and Mac mix can supply in Rings or Split or just Mac or Pine loads.</p>
    <p>May be rain wet</p>
    <p><strong>Pahiatua, Eketahuna and Woodville only</strong></p>
    <p>WINZ APPROVED PROVIDER</p>
    <p>Cash on delivery or internet banking available (please include your name and address as reference)</p> 
    <p>Loads can also be paid off in installments that suit your income and wood will be delivered on full payment.
    Also have tree fellers license and taking inquiries about tree felling.
    P.M us on Facebook messenger "BigRed Firewood"
    OR
    Text: 0211861472
    We will contact you in the evening to organize delivery.
    Thank you from BigRed Firewood.</p>
</section>

<div class="card">
    <div class="card-content">
    {% if app.user %}
        <div id="calendar"></div>
        <div id="order-modal" class="modal">
            <div class="modal-background" onclick="closeModal(event)"></div>
                <div id="modal-content" class="modal-content">

                </div>
            <button class="modal-close is-large" aria-label="close" onclick="closeModal(event)"></button>
        </div>
        {% else %}
            You have to <a href="{{ path('app_login') }}">log in</a> before you can place an order.
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="/js/fullcalendar/core/main.js"></script>
    <script src="/js/fullcalendar/core/locales/en-nz.js"></script>
    <script src="/js/fullcalendar/daygrid/main.js"></script>
    <script src="/js/fullcalendar/timegrid/main.js"></script>
    <script>const orders = {{ orders | raw }};</script>
    <script src="/js/calendar.js"></script>
{% endblock %}