{% extends 'base.html.twig' %}
{% form_theme registrationForm 'forms/bulma_form_theme.html.twig' %}
{% block title %}
  Register
{% endblock %}

{% block body %}
  {% for flashError in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">
      {{ flashError }}
    </div>
  {% endfor %}
  <section class="container">
    <div class="card">
      <div class="card-content">
        <h1 class="title is-2">
          Sign up
        </h1>
        {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}
        {{ form_end(registrationForm) }}
      </div>
    </div>
  </section>
{% endblock %}
