<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        Find me on
        <a
          href="https://www.facebook.com/pages/category/Local-Service/BigRed-Firewood-102429208032885/"
        >
          <span class="icon"><i class="fa fa-facebook-square"></i></span>BigRed
          Firewood
        </a>
      </p>
      <p>Text me <a href="sms://+64211861472">0211861472</a></p>
    </div>
  </div>
</footer>
