<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Big Red Firewood -&nbsp;{% block title %}

      {% endblock %}
    </title>
    {# <link rel="icon" type="image/png" href="/myicon.png" /> #}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css"
      rel="stylesheet"
      type="text/css" />
    {% block stylesheets %}

    {% endblock %}
  </head>
  <body>
    {% include 'admin/partials/navbar.html.twig' %}
    {% for label, messages in app.flashes %}
      {% for message in messages %}
        <div class="notification is-danger">
          <button class="delete"
            onclick="this.parentElement.style='display:none'">

          </button>
          <h3 class="title is-3">
            {{ label }}
          </h3>
          <p>
            {{ message }}
          </p>
        </div>
      {% endfor %}
    {% endfor %}
    <div class="container is-fluid">
      {% block body %}

      {% endblock %}
    </div>
    {% block javascripts %}
      <script src="https://kit.fontawesome.com/20c465eb55.js"></script>
    {% endblock %}
  </body>
</html>
