{% extends 'base.html.twig' %}

{% block title %}
  Hello GalleryController!
{% endblock %}

{% block body %}
  <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font:
    18px/1.5 sans-serif; } .example-wrapper code { background: #F5F5F5; padding:
    2px 6px; }
  </style>

  <div class="example-wrapper">
    <h2 class="title is-2">
      Gallery
    </h2>

    <div class="columns is-multiline">
      {% for photo in photos %}
        <div class="column is-one-third-desktop is-half-tablet">
          <img src="{{ photo.images[0].source }}" />
        </div>
      {% else %}
        <p>
          No photos were found on the facebook account linked. Did you allow the
          app the right permissions to your page ?
        </p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
