<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      Big Red Firewood -&nbsp;{% block title %}

      {% endblock %}
    </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.min.css"
      rel="stylesheet"
      type="text/css" />
    {% block stylesheets %}

    {% endblock %}
  </head>
  <body>
    {% include 'navbar.html.twig' %}
    {% for message in app.flashes('success') %}
      <div class="flash-notice">
        {{ message }}
      </div>
    {% endfor %}
    {% block body %}

    {% endblock %}
    {% block javascripts %}

    {% endblock %}
  </body>
</html>
