<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Big Red Firewood -&nbsp;{% block title %}

      {% endblock %}
    </title>
    {# <link rel="icon" type="image/png" href="/myicon.png" /> #}
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    {% block stylesheets %}

    {% endblock %}
  </head>
  <body>
    <header>
      <h1 class="title is-1 has-text-centered pt-5">
        BigRed Firewood
      </h1>
      {% include 'partials/navbar.html.twig' %}
    </header>
    <div class="container is-widescreen">
      {% for message in app.flashes('success') %}
        <div class="notification is-success">
          <button class="delete"
            onclick="this.parentElement.style.display='none'">

          </button>
          {{ message }}
        </div>
      {% endfor %}

      {% block body %}

      {% endblock %}
    </div>
    {% block order_now %}

    {% endblock %}

    {% include 'partials/footer.html.twig' %}
    <script src="https://kit.fontawesome.com/20c465eb55.js"></script>
    <script src="/js/main.js"></script>
    {% block javascripts %}

    {% endblock %}
  </body>
</html>
