<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Big Red Firewood -&nbsp;{% block title %}

      {% endblock %}
    </title>
    {# <link rel="icon" type="image/png" href="/myicon.png" /> #}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css"
      rel="stylesheet"
      type="text/css" />
    {% block stylesheets %}

    {% endblock %}
  </head>
  <body>
    {% include 'partials/navbar.html.twig' %}
    <div class="container is-widescreen">
      {% for message in app.flashes('success') %}
        <div class="notification is-success">
          <button class="delete"
            onclick="this.parentElement.style.display='none'">

          </button>
          {{ message }}
        </div>
      {% endfor %}

      {% block body %}

      {% endblock %}
    </div>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          Find me on
          <a href="https://www.facebook.com/pages/category/Local-Service/BigRed-Firewood-102429208032885/">
            <span class="icon"><i class="fa fa-facebook-square"></i></span>BigRed
            Firewood
          </a>
        </div>
      </div>
    </footer>
    <script src="https://kit.fontawesome.com/20c465eb55.js"></script>
    <script src="/js/main.js"></script>
    {% block javascripts %}

    {% endblock %}
  </body>
</html>
