{% extends 'base.html.twig' %}

{% block title %}
  Edit Orders
{% endblock %}

{% block body %}
  <div class="box">
    <h1 class="title is-2">
      Reschedule
    </h1>

    {{
      include(
        'orders/_edit_form.html.twig',
        {
          button_label: 'Update'
        }
      )
    }}

    <a class="button" href="{{ path('admin') }}">Cancel</a>
  </div>
{% endblock %}
