{% extends 'base.html.twig' %}

{% block title %}
  New Enquiry
{% endblock %}

{% block body %}
  {# <script src="/js/facebook.js"></script>
  <script async
    defer
    src="https://connect.facebook.net/en_US/sdk/debug.js"></script> #}

  <div class="box mt-5 mb-5">
    <h1 class="title">
      Enquire
    </h1>

    <p>
      You will receive a message confirming we received the enquiry on Facebook
      Messenger or by E-mail. You will later receive an update that will either
      confirm or give you another date if it is not possible for us.
    </p>

    <div class="hero">
      <div class="hero-body">
        <p class="has-text-centered order-summary is-size-3">
          You are asking for an order on the<br /> <strong>
            {{ order.deliveryDate|date('d/m/y') }}
          </strong> in the <strong>{{ order.deliveryTime }}</strong>.
        </p>
      </div>
    </div>

    {{ include('orders/_form.html.twig') }}

    <a class="button is-lightgrey" href="{{ path('home') }}">Cancel</a>
  </div>
{% endblock %}
