{% extends 'base.html.twig' %}

{% block body %}
  <div class="hero">
    <div class="hero-body">
      <h1 class="title">
        Page not found
      </h1>

      <h2 class="subtitle">
        The requested page couldn't be located. Checkout for any URL misspelling
        or <a href="{{ path('home') }}">return to the homepage</a>.
      </h2>
    </div>
  </div>
{% endblock %}
