{% extends 'base.html.twig' %}

{% block body %}
  <div class="hero is-danger">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          😭 Sorry about that...
        </h1>
        <h2 class="subtitle">
          An unexpected error happened.
        </h2>
      </div>
    </div>
  </div>
{% endblock %}
