{% form_theme form 'forms/bulma_form_theme.html.twig' %}

{{ form_start(form) }}
{{ form_widget(form) }}
<button class="button is-fullwidth is-primary mb-3">
  {{ button_label|default('Save') }}
</button>
{{ form_end(form) }}
