{% extends 'base.html.twig' %}
{% form_theme form 'forms/bulma_form_theme.html.twig' %}

{% block title %}
  Change password
{% endblock %}

{% block body %}
  {% for flashError in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">
      {{ flashError }}
    </div>
  {% endfor %}
  <h1 class="title">
    Change password
  </h1>
  {{ form_start(form) }}
  {{ form_widget(form) }}
  {{ form_end(form) }}
{% endblock %}
